table {
	text-align: center;
	border-collapse: collapse;
	width: 100%;
}
div {
	margin: auto;
	text-align: center;
}


tr:nth-child(even) {
	color: #1F3A93;
	background: white;
}
tr:nth-child(odd) {
	color: #1F3A93;
	background: rgba(31, 58, 147, 0.05);
}

body {
	background: white;
	font-family: Helvetica, sans-serif;
}

#tblHead {
	background: rgba(31, 58, 147, 1);
	color: white;
}

#beforeSearch {
	margin: auto;
}

form {
	margin: 5px;
}