table {
	border: solid black 1px;
	text-align: center;
	border-collapse: collapse;
}

tr{
	border: solid black 1px;
}

tr:nth-child(even) {
	background: #ecf0f1;
}
tr:nth-child(odd) {
	background: #FFFFFF;
}

body {
	background: #ecf0f1;
	font-family: Helvetica, sans-serif;
}